/* Nav Style Notes: Logo in left side corner, circle. Nav bar, no applied margins
Footer Style Notes: trade mark along the left side, yes margins

Hero Images: Images will go below nav, no applied margins (100% width)

Body Notes: Margins along sides, inherit for all pages. Title centered at the top. Text boxes centered. 

Typography: Headings Morris Roman, Paragraph times New Roman
Colors: #B18A69 (Tan), #D2D3CD (light grey), #FF0000 (red), #00000 (black), #78764E (darker grey)

*/


/*Inherit for all pages*/
#nav {
    background-color: #B18A69;
    min-width: 100%;
    margin: 0;
    display: flex;
    align-items: center;

}

#nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20%;
}

#nav-links a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
}


#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

#hero {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    max-height: 500px;
    min-width: 100%;
    
}

#title {
    text-align: center;
    font-size: 25pt;
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    
}

#content {
    margin-right: 10%;
    margin-left: 10%;
}

h1 {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}


h2 {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25pt;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

footer {
    font-family: 'Times New Roman', Times, serif;
}

#img2 {
    max-height: 300px;
    max-width: 300px;

}


/*Individual page Settings :) */
